/* Basic Style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header__image {
  width: 100%;
}

.header__more-inf {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {

  .header { 
    text-align: center;
  }
  
}

.main-page-wrapper {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.add__new-task {
  width: 56%;
  display: inline-block;
  flex-grow: 1
}

.add__task-row-wrapper {
  display: flex;
}

.incomplete-tasks,
.completed-tasks {
  margin:0;
  padding: 0px;
}

.todo_name,
.completed_name,
.incomplete-tasks__point,
.incomplete-tasks__point-edit-mode,
.completed-tasks__point {
  list-style:none;
}

input,button{
  outline:none;
}

.edit,
.delete {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

button:hover {
  color: #3a3a3a;
}

/* Heading */

.todo_name,
.completed_name,
label[for="add__new-task"] {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

input[type="text"] {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

input[type="text"]:focus {
  color: #333;
}

/* New Task */
label[for="add__new-task"] {
  display: block;
  margin: 0 0 20px;
}

.add__new-task {
  width: 318px;
}

.add__button:hover {
  color: #0fc57c;
}

/* Task list */

.incomplete-tasks__point,
.incomplete-tasks__point-edit-mode,
.completed-tasks__point {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li > * {
  vertical-align: middle;
}

li > input[type="checkbox"] {
  margin: 0 10px;
}

.incomplete-tasks__message
.complete-tasks__message {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.incomplete-tasks__new-massage,
.complete-tasks__new-massage {
  width: 226px
}

.delete:hover {
  color: #cf2323;
}

.delete__image {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.delete__image:hover {
  transform: rotateZ(0);
}

/* Completed */
.completed-task__messag {
  text-decoration: line-through
  color: #888;
}

/* Edit Task */
ul li input[type=text] {
  display:none
}

.edit-mode .incomplete-task__new-message,
.edit-mode .completed-task__new-message {
  display: inline-block;
  width: 224px;
}

.edit-mode .completed-task__message,
.edit-mode .incomplete-task__message {
  display: none;
}